.auth{
    color: var(--light);
    width: 100%;
    height: 100%;
    /* padding: 130px 0 32px 0; */
    /* background-image:linear-gradient(black,transparent); */
    background-repeat: no-repeat;
    /* background-size: cover; */
    width: 400px;
    margin: 110px auto 32px auto;
}

.auth-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 24px;
}

/* .overlay {
    width: 0%;
    height: 70vh;
    position: absolute;
    background-color: black;
    opacity: 0.4;
    top: 0;
    border-radius: 10px;
    min-height: 400px;
} */

.auth a{
    color: var(--primary);
    text-decoration: underline;
}

.auth-container form {
    max-width: 360px;
    min-width: 360px;
    min-height: 400px;
}

.auth-container h1 {
    z-index: 1;
    margin: 16px;
}

.flex-box {
    display: flex;
    justify-content: space-between;
}

.auth-container form .input-group .remember-me input[type="checkbox"] {
    width: 20px;
    margin-right: 16px;
    border: 2px solid var(--primary);
}

.auth-options {
    margin-top: 40px;
}

.auth-options p {
    text-align: center;
    font-weight: 300;
    color: var(--primary);
}

.auth-options p::after,
.auth-options p::before {
    content: "";
    width: 80px;
    margin: 5px;
    border-bottom: 1px solid var(--light);
    display: inline-block;
}

.auth-options .auth-icons {
    display: flex;
    justify-content: center;
    margin-top: 8px;
}

.auth-options .auth-icons .fa-brands {
    margin: 10px;
    transition: all 0.3s ease;
    font-size: 1.4rem;
}

.auth-options .auth-icons .fa-brands:hover {
    color: var(--primary);
}

.auth-container form .input-group .remember-me {
    display: flex;
    width: 50%;
}

.auth-container form .input-group,
.auth-container form button {
    margin-top: 24px;
}

.auth-container form .input-group input:not(input[type="checkbox"]) {
    padding: 8px 32px;
    background-color: transparent;
    border: 1px solid var(--light);
    color: var(--light);
}

.auth-container form button {
    padding: 8px 16px;
    border-radius: 10px;
    border: none;
    background-color: var(--primary);
    color: var(--light);
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 1.5px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.auth-container form button:hover {
    opacity: .8;
}

.auth-container form .input-group input:focus {
    outline: none;
    border-color: var(--primary) !important;

}

.auth-container form .input-group,
.auth-container form .input-group input,
.auth-container form button {
    width: 100%;
}

.auth-container form .input-group .input-icon {
    position: absolute;
    z-index: 1;
    top: 50%;
    margin-left: 8px;
    transform: translateY(-50%);
    color: antiquewhite;
}
.form-error,.form-detail-error{
    color: var(--error);
    position: absolute;
}

.form-error{
    bottom: -18px;
    left: 0;
    
}

.form-detail-error{
    top:90px;
}

.submit-spinner{
    margin-left: 32px;
    animation:spin 2s linear infinite;
    animation-direction: reverse;
}

@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    0%{
        transform: rotate(360deg);
    }
    
}
