.cart-details {
    width: 90%;
    background-color: var(--light);
    margin: 130px auto 32px auto;
    display: flex;
    overflow: hidden;
    position: unset;
    border-radius: 8px;
    min-height: 400px;
}

.cart-details .cart-items {
    flex-grow: 3;
    padding: 32px;
    position: unset;
}

.cart-details .cart-items .box-top span {
    position: absolute;
    left: 90%;
    color: var(--secondary);
}

.cart-details .cart-summary {
    width: 200px;
    padding: 32px;
    background-color: #e8edea;
    min-width: 300px;
}

h4,
.cart-details .cart-items h4 {
    padding-bottom: 16px;
    margin-bottom: 16px;
    border-bottom: 2px solid #fff;
    font-size: 1rem;
}

.cart-details .cart-items h4 {
    border-bottom: 2px solid #e8edea;
}

.cart-details .cart-summary .checkout-btn {
    width: 100%;
    padding: 8px 0;
    margin-top: 32px;
    background-color: var(--primary);
    border: none;
    color: #fff;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 8px;
}

.cart-details .cart-summary .group1 {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.cart-details .cart-summary .group h5,
.payment-methods h5 {
    font-weight: 450;
}

.cart-details .cart-summary form {
    width: 100%;
    margin-top: 8px;
}

.payment-methods {
    margin-top: 16px;
}

.cart-details .cart-summary form select {
    width: 100%;
    border: kk;
    outline: none;
    padding: 8px;
}

.cart-empty-text {
    color: grey;
}

@media screen and (max-width:768px) {
    .cart-details {
        width: 95%;
        margin: 170px auto 16px auto;
        flex-direction: column;
    }
    .cart-details .cart-items {
        flex-grow: 1;
        padding: 16px;
        position: unset;
        padding-bottom: 24px;
    }
    .cart-details .cart-summary {
        width: 100%;
        padding: 24px;
        min-width: unset;
    }
}

@media screen and (min-width:768px) and (max-width:1024px) {}