.landing {
    display: relative;
    width: 90%;
    margin: auto;
    display: flex;
    margin-top: 128px;
    gap: 32px;
    height: 400px;
}

.landing .categories-container {
    display: flex;
    left: 0;
    margin-top: 0;
}

@media screen and (min-width:320px) and (max-width:480px) {
    .landing {
        width: 95%;
        margin-top: 170px;
        gap: 16px;
        height: 400px;
    }
}

@media screen and (min-width:480px) and (max-width:768px) {}