.not-found {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 90vh;
}

.not-found .text-big {
    font-size: 6rem;
    font-weight: 800;
    color: var(--tertiary);
    text-shadow: 0 5px 40px var(--primary);
    pointer-events: none;
    -webkit-text-stroke: 2px var(--primary);
}

.not-found h1 {
    color: gray;
}

.not-found p {
    margin-top: 12px;
    font-weight: 300;
    font-size: 1.8;
    color: var(--light);
}

.not-found .home-btn {
    padding: 10px 64px;
    margin-top: 30px;
    border-radius: 10px;
    background-color: var(--primary);
    color: var(--light);
    border: none;
    cursor: pointer;
    transition: all .3s ease;
}

.not-found .home-btn .fa-thin {
    margin-right: 10px;
}