.success-container {
    width: 90%;
    height: 60vh;
    margin: 130px auto 0 auto;
    background-color: var(--light);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    border-radius: 5px;
}

.success-container button {
    background-color: var(--badge);
    border: none;
    color: #fff;
    padding: 12px 0;
    width: 240px;
    cursor: pointer;
    transition: all .3 ease;
}

.success-container p {
    color: var(--secondary);
}

.success-container h1 {
    color: rgb(89, 90, 90);
    font-size: 1.8rem;
}

@media screen and (max-width:480px) {
    .success-container {
        width: 95%;
        margin: 170px auto 0 auto;
    }
}