        .group {
            margin: auto;
            margin-top: 135px;
            margin-bottom: 0;
            display: flex;
            gap: 32px;
            width: 90%;
        }
        
        .products-list-container {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            width: max-content;
            gap: 32px;
        }
        
        .group-right {
            width: 100%;
            position: relative;
            overflow: hidden;
            border-radius: 8px;
        }
        
        .product-pagination {
            width: 90%;
            margin: auto;
            position: relative;
            height: 37px;
        }
        
        .product-pagination .pagination {
            position: absolute;
            right: 0;
            margin: 16px 0;
        }
        
        @media screen and (min-width:320px) and (max-width:480px) {
            .group {
                margin: auto;
                margin-top: 159px;
                margin-bottom: 0;
                display: flex;
                gap: 32px;
                width: 95%;
            }
            .products-list-container {
                display: grid;
                grid-template-columns: 1fr 1fr;
                width: max-content;
                gap: 16px;
            }
        }