.product-details-page {
    margin-top: 130px;
}

.product-details-page .details .image {
    width: 40%;
    min-width: 360px;
    margin: 60px;
}

.image img {
    object-fit: contain;
}

.product-details-page .details {
    margin: 16px 64px;
    background-color: var(--light);
    display: flex;
    justify-content: space-between;
    gap: 32px;
    border-radius: 8px;
    overflow: hidden;
}

.product-details-page .info {
    padding: 32px;
    flex-grow: 1;
    width: 50%;
    min-width: 360px;
    max-width: 550px;
}

.product-details-page .details .info .description {
    font-size: 0.85rem;
    margin: 16px 0;
    line-height: 1.5rem;
    color: rgb(105, 105, 105);
}

.product-details-page .details .info small {
    color: var(--secondary);
    cursor: pointer;
}

.product-details-page .details .info small:hover {
    color: var(--primary);
}

.product-details-page .details .info .product-name {
    margin: 8px 0;
    font-size: 1.2rem;
}

.product-details-page .details .info .price {
    font-size: 1.5rem;
    font-weight: 200;
}

.product-details-page .details .info .price span {
    color: #fff;
    padding: 0 10px;
    border-radius: 5px;
    font-size: 0.7rem;
    position: absolute;
    background-color: var(--badge);
    top: 22px;
}

.product-details-page .details .info strike {
    color: var(--red-shade);
    margin-right: 4px;
    font-size: 0.8rem !important;
    font-weight: 500 !important;
}

.product-details-page .details .info .buttons {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 24px 0;
    gap: 36px;
}

.product-details-page .details .info .buttons .add-to-cart,
.product-details-page .details .info .buttons .add-to-wishlist {
    width: 240px;
    padding: 12px 16px;
    border-radius: 8px;
    border: none;
    color: #fff;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.4s linear;
}

.product-details-page .details .info .buttons .add-to-cart {
    background-color: var(--primary);
}

.product-details-page .details .info .buttons .add-to-wishlist {
    background-color: var(--badge);
}

.product-details-page .details .info .buttons .add-to-cart:hover,
.product-details-page .details .info .buttons .add-to-wishlist:hover {
    opacity: .9
}

@media screen and (min-width:320px) and (max-width:480px) {
    .product-details-page {
        margin: auto;
        margin-top: 170px;
        width: 95%;
        height: auto;
    }
    .details {
        margin: 0;
        gap: 30px;
        flex-direction: column;
    }
    .product-details-page .info {
        padding: 24px;
        width: 100%;
        min-width: unset;
    }
    .product-details-page .details .image {
        width: 80%;
        padding: 0;
        margin: auto;
    }
}