        .group {
            margin: auto;
            margin-top: 135px;
            margin-bottom:0;
            display: flex;
            gap: 32px;
            width: 90%;
            position: relative;
        }
        
        .products-list-container {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            width: max-content;
            gap: 32px;
        }
        
       
        
        .product-pagination {
            width: 90%;
            margin: auto;
            position: relative;
            height: 37px;
        }
        
        .product-pagination .pagination {
            position: absolute;
            right: 0;
            margin: 16px 0;
        }