.profile-container {
    display: flex;
    padding: 120px 30px;
    gap: 32px;
}

.profile-container aside {
    background-color: var(--light);
    max-width: 400px;
    min-width: 300px;
    padding: 36px;
    display: flex;
    flex-direction: column;
}

.profile-container aside .cluster {
   
    margin-top: 8px;
   width: 100%;
}
.profile-container .more {
   
 margin-top: 32px;
}
.profile-container .avatar {
    width: 150px;
    height: 150px;
    overflow: hidden;
    margin-bottom: 24px;
   
}
.info-cluster h4{
     padding: 0;
     margin: 0;
}

.profile-container aside .username {
    margin-bottom: 24px;
    text-align: center;
}

.profile-container main {
    background-color: var(--light);
    width: 100%;
}

.profile-container main .general-view .view-navs {
    display: flex;
    width: 100%;
    background-color: var(--lightgray);
    height: 40px;
}

.profile-container main .general-view .view-navs .nav {
    width: 200px;
    display: flex;
    align-items: center;
    padding-left: 8px;
    transition: all 0.3s linear;
    cursor: pointer;
}

.profile-container main .general-view .view-navs .nav:hover {
    background-color: var(--light);
}

.profile-container main .general-view .view-navs .active {
    background-color: var(--light);
}