.billboard {
    width: 90%;
    height: 300px;
    margin-top: 32px;
    display: flex;
    margin: auto;
    margin-top: 32px;
    overflow: hidden;
    border-radius: 5px;
}

@media screen and (max-width:480px) {
    .billboard {
        width: 100%;
        height: 140px;
        margin-top: 16px;
        border-radius: 0;
    }
}