.carousel {
    width: 71%;
    height: 400px;
    position: absolute;
    margin-top: 20px;
    top: -19px;
    left: 320px;
    overflow: hidden;
    background-color: var(--light);
    border-radius: 10px;
    border: 1px solid var(--secondary);
}