.cart-item {
    height: 120px;
    width: 100%;
    margin-top: 24px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: start;
    box-shadow: 2px 2px 20px var(--light-shade);
    padding: 16px;
    border-radius: 8px;
    background-color: rgb(250, 249, 249);
}

.cart-item .counter {
    margin-top: 20px;
}

.cart-group {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: unset;
}

.cart-item .right {
    flex-direction: row;
    width: 300px;
    gap: 16px;
    height: 100%;
}

.cart-group button {
    background-color: transparent;
    padding: 8px 16px;
    color: var(--badge);
    cursor: pointer;
    width: 200px;
    border-radius: 8px;
    border: none;
    border: 1px solid var(--badge);
}

.cart-group button .spinner {
    margin-left: 16px;
}

.cart-item .item-image {
    width: 100px;
    height: 100%;
}

.cart-item .price span {
    color: gray;
    font-size: 16px
}

.price {
    width: 100px;
    text-align: center;
    margin-top: 16px;
}

@media screen and (max-width:1024px) {
    .cart-item {
        height: auto;
        width: 100%;
        justify-content: unset;
        flex-direction: column;
    }
    .cart-item .price {
        position: absolute;
        top: 0;
        right: 0;
    }
    .cart-item .btns {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    .cart-group button {
        padding: 0 !important;
        width: 200px;
        height: 30px;
        top: 18px;
    }
    .cart-item .right {
        flex-direction: row;
        width: 200px;
        gap: 16px;
        height: 100%;
    }
}

@media screen and (max-width:480px) {
    .cart-group button {
        padding: 6px 16px;
        width: 150px;
    }
    .cart-item .counter {
        margin-top: 20px;
        left: 20px;
    }
}