.collection {
    width: 90%;
    height: auto;
    padding: 0 64px;
    margin: 32px auto;
    background-color: var(--light);
    padding: 16px 0 32px 0;
    border-radius: 5px;
    overflow: hidden;
}

.collection .collection-container {
    width: 100%;
    display: grid;
    width: max-content;
    left: 50%;
    transform: translateX(-50%);
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 30px;
}

.collection .collection-top .title {
    color: var(--primary);
    margin-bottom: 16px;
}

.collection .collection-top {
    display: flex;
    justify-content: space-between;
    margin: 0 16px;
}

.collection .collection-top h4 {
    transition: all 0.3s ease;
    cursor: pointer;
}

.collection .collection-top h4:hover {
    color: var(--primary);
    text-decoration: underline;
}