.collection {
    width: 90%;
    margin: 32px auto;
    background-color: blanchedalmond;
    border-radius: 8px;
    overflow: hidden;
}

.collection .swiper-wrapper {
    padding-left: 8px;
    width: 100%!important;
    padding-bottom: 24px;
    gap: 16px !important;
}

.collection .collection-top {
    display: flex;
    justify-content: space-between;
    background-color: var(--primary);
    color: aliceblue;
    align-items: center;
    margin-bottom: 32px;
    padding: 0 32px;
    height: 40px;
}

.collection .collection-top h5 {
    transition: all 0.3s ease;
    cursor: pointer;
}

@media screen and (max-width:600px) {
    .collection {
        width: 95%;
    }
    .collection .collection-container .product-card {
        width: unset;
    }
    .collection .collection-container {
        width: 100%;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        padding: 10px;
    }
}

@media screen and (min-width:600px) and (max-width:768px) {
    .collection .collection-container .product-card {
        width: unset;
    }
    .collection .collection-container .product-card .product_image {
        height: 50%;
    }
    .collection .collection-container {
        grid-template-columns: 1fr 1fr 1fr;
        padding: 16px;
    }
}

@media screen and (min-width:320px) and (max-width:480px) {
    .collection .swiper-wrapper {
        gap: 0 !important;
    }
}