.confirm-delete {
    background-color: var(--light);
    width: 400px;
    padding: 32px;
    border-radius: 8px;
    position: fixed;
    z-index: 10000;
    bottom: 32px;
    right: 32px;
    border: 1px solid var(--badge);
}

.confirm-delete h5 {
    color: rgb(27, 26, 26) !important;
    font-size: 14px !important;
    margin: 0 !important;
}

.confirm-delete button {
    width: 200px;
    padding: 12px 0;
    background-color: var(--primary) !important;
    color: #fff;
    border: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    border-radius: 8px;
}

.confirm-delete p {
    color: gray;
    font-size: 14px;
    margin: 16px 0;
}

.confirm-delete-close-btn {
    position: absolute;
    top: 10px;
    right: 32px;
    font-size: 24px;
    cursor: pointer;
    color: var(--primary);
    padding: 2px;
}

.confirm-delete-close-btn:hover {
    color: var(--primary);
}

@media screen and (max-width:480px) {
    .confirm-delete {
        width: 300px;
        padding: 16px;
        border: 1px solid #cfcece;
    }
}