.placeholder-filler {
    background-color: var(--light);
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.placeholder-filler h3 {
    color: var(--primary);
    font-weight: 400;
    text-align: center;
}

.placeholder-filler .loader {
    width: 250px;
}

.placeholder-filler img {
    width: 200px;
    height: auto;
}