.counter {
    align-self: center;
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100px;
}

.counter .view {
    border: 1px solid var(--badge);
    padding: 3px 8px;
    font-weight: 600;
    user-select: none;
}

.count-icon {
    padding: 6px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    font-weight: 800;
    background-color: var(--badge);
    color: var(--light);
    transition: all .5s ease;
}


/* .count-icon:hover {
    box-shadow: 0 0 10px 3px var(--badge);
} */

* {
    user-select: none;
}