.counter {
    align-self: center;
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100px;
}

.counter .view {
    border: 2px solid var(--primary);
    padding: 3px 8px;
    font-weight: 600;
}

.count-icon {
    padding: 6px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    font-weight: 800;
    background-color: var(--primary);
    color: var(--light);
}

.count-icon:hover {
    box-shadow: 0 0 0 3px var(--primary);
}