.counter {
    align-self: center;
    display: flex;
    align-items: center;
    margin-top:24px;
    gap: 5px;
    width: 100px;
    
}

.counter .view {
    border: 1px solid var(--lightgray);
    padding: 5px 10px;
    
}

.count-icon {
    padding: 8px;
    border-radius: 50%;
    text-align: center;
    cursor:pointer;
}
 .fa .fa-plus{
    border: 3px solid red !important;
}

.count-icon:hover {
    box-shadow: 0 0 0 1px var(--primary);
    color:var(--primary)
}

