.filters-container {
    min-width: 250px;
    padding: 32px 16px;
    background-color: var(--light);
    border-radius: 5px;
    height: max-content;
}

.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%;
  height: 6px;
  border-radius: 4px;
  background: #d3d3d3; 
  outline: none; 
  opacity: 0.7;
  -webkit-transition: .2s; 
  transition: opacity .2s;
  margin-bottom: 16px;
  
}
.slider-filters{
    padding: 10px 0;
}

.discout-filters{
    margin-top: 10px;
}
.slider:hover {
  opacity: 1; }

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px; 
  height: 15px; 
  border-radius: 50%;
  background: var(--primary);
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
 
}
.filters-container button[type="submit"]{
    background-color: var(--primary);
    color: var(--light);
    outline: none;
    width: 100%;
    padding: 8px 0;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    transition: opacity .3s ease;
    margin: 16px 0;
}

.filters-container button[type="submit"]:hover{
    opacity: .8;
}


.num-range{
    margin: 16px 0;
}
.num-range input{
    padding: 4px;
    width: 80px;
}
.num-range input:focus{
    outline-color: var(--primary);
}
.filters-container h3{
    border-bottom: 1px solid var(--lightgray);
    margin-bottom: 24px;
    padding-bottom: 8px;
}
.filters-container .discount{
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-size: .95rem;
    color: gray;
    margin: 8px 0;
  
}


input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  width: 20px;
  height: 20px;
  padding: 4px;
  background-clip: content-box;
  border: 1px solid #bbbbbb;
  background-color: #e7e6e7;
  border-radius: 50%;
}
input[type="radio"]:checked {
  background-color: var(--primary);}