.ordered-product {
    display: flex;
    height: 70px;
    margin: 16px 24px;
    column-gap: 20px;
    overflow: hidden;
    background-color: var(--light);
    border-radius: 8px;
}

.ordered-product span {
    align-self: center;
    color: rgb(184, 184, 185);
    max-width: 200px;
    font-size: smaller;
}