.categories-container {
    display: flex;
    left: 5%;
    margin-top: 128px;
    overflow: hidden;
}

.categories-container .close-btn {
    width: 10px;
    height: 10px;
    background-color: var(--primary);
    display: none;
    position: absolute;
    right: 10px;
    z-index: 10000;
    margin: 16px;
    right: 0;
}