.product-placeholder {
    height: max-content;
    width: 180px;
}

.product-placeholder .product-image {
    width: 80%;
    margin: 16px auto;
    height: 150px;
}

.product-placeholder .product-name,
.product-placeholder .product-price,
.product-placeholder .buttons .add-btns .btn {
    padding: 5px;
}

.product-placeholder .detail-btn {
    padding: 6px;
    border: none;
    border-radius: 3px;
}

@media screen and (max-width:480px) {
    .product-placeholder .product-name {
        width: 100%;
        top: 1px;
    }
    .product-placeholder .buttons .add-btns .btn {
        margin: 5px 0;
        padding: 5px;
    }
    .product-placeholder .product-name,
    .product-placeholder .product-price {
        padding: 2px;
    }
    .product-placeholder .detail-btn {
        width: 70%;
        margin: auto;
    }
}