.product-card {
    width: 200px;
    min-width: 200px;
    border-radius: 5px;
    height: 310px;
    background-color: var(--light);
    box-shadow: 4px 4px 10px var(--lightgray);
    transition: all 0.3s ease;
    overflow: hidden;
}

.products-list-container .product-card {
    box-shadow: none;
    width: 150px !important;
    height: 280px;
}

.products-list-container .product-card .product-image {
    width: 80%;
    height: 160px;
    margin: auto;
}

.product-card .product-image {
    width: 100%;
    height: 60%;
}

.product-card .product-discount {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    background-color: var(--badge);
    color: #fff;
    font-size: 12px;
    padding: 2px 10px;
}

.product-card .product-name {
    color: var(--tertiary);
    font-size: 14px;
    transition: all 1s ease;
    text-transform: capitalize;
    display: block;
}

.product-card:hover .product-name {
    color: var(--primary);
}

.product-card .container {
    margin: 8px 18px;
}

.product-card .product-discount {
    font-weight: 600;
}

.product-card .buttons {
    display: flex;
    margin: 16px 0;
    justify-content: right;
    align-items: center;
}

.product-card .detail-btn {
    border: 1px solid var(--badge);
    background: transparent;
    border-radius: 16px;
    color: var(--badge);
    padding: 5px 0;
    font-size: 12px;
    width: 50%;
    text-align: center;
    letter-spacing: 1.2px;
    outline: none;
    margin-right: 32px;
    cursor: pointer;
}

.product-card .buttons .add-btns {
    width: 30%;
    display: flex;
    justify-content: space-evenly;
}

.wish-icon,
.cart-icon {
    color: var(--badge);
    font-size: 0.95rem;
    cursor: pointer;
    padding: 10px;
}

.wish-icon:hover,
.cart-icon:hover {
    opacity: .7;
}

.product-card .product-price {
    color: darkturquoise;
    display: block;
    margin-top: 8px;
}

strike {
    color: var(--primary);
}

.add-to-cart-processing {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 20;
    background-color: rgba(207, 179, 179, 0.521);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: var(--primary);
}

@media screen and (min-width:320px) and (max-width:480px) {
    .product-card {
        width: 150px;
        min-width: 150px !important;
        overflow: hidden;
    }
    .product-card .product-image {
        height: 50%;
    }
    .product-card .buttons {
        margin: 0;
        justify-content: unset;
        align-items: unset;
        flex-direction: column-reverse;
    }
    .product-card .detail-btn {
        border-radius: 12px;
        color: var(--badge);
        font-size: 12px;
        width: 100%;
        margin-right: 0;
    }
    .product-card .buttons .add-btns {
        width: 100%;
        justify-content: space-between;
    }
}

@media screen and (min-width:480px) and (max-width:768px) {}

@media screen and (min-width:768px) and (max-width:1024px) {}

@media screen and (min-width:1024px) and (max-width:1200px) {}