    .product-detail-placeholder {
        width: 90%;
        background-color: var(--light);
        margin: auto;
        padding: 48px;
        border-radius: 8px;
        display: flex;
        height: 400px;
        gap: 60px;
        justify-content: space-between;
    }
    
    .product-detail-placeholder .image {
        width: 50%;
    }
    
    .product-detail-placeholder .placeholder-details {
        display: flex;
        flex-direction: column;
        gap: 16px;
        justify-content: space-evenly;
        width: 60%;
    }
    
    .product-detail-placeholder .placeholder-details .product-description {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    
    .product-detail-placeholder .placeholder-details .placeholder-text {
        width: 100%;
        padding: 2px;
    }
    
    .product-detail-placeholder .placeholder-details .product-prices .price {
        padding: 6px;
        width: 100px;
        margin-top: 10px;
    }
    
    .product-detail-placeholder .placeholder-details .placeholder-btns {
        display: flex;
        justify-content: space-between;
    }
    
    .product-detail-placeholder .placeholder-details .placeholder-btns .btn {
        padding: 16px;
        width: 200px;
    }
    
    @media screen and (min-width:320px) and (max-width:480px) {
        .product-detail-placeholder {
            width: 100%;
            padding: 16px;
            height: auto;
            gap: 20px;
            flex-direction: column;
        }
        .product-detail-placeholder .placeholder-details .placeholder-text,
        .product-detail-placeholder .placeholder-details,
        .product-detail-placeholder .image {
            width: 100%;
        }
        .product-detail-placeholder .image {
            height: 250px;
        }
        .product-detail-placeholder .placeholder-details .placeholder-btns {
            gap: 16px;
        }
    }