.tool-tip {
    background-color: var(--secondary);
    padding: 5px 16px;
    color: var(--light);
    font-size: .7rem;
    display: block;
    width: max-content;
    border-radius: 5px;
    position: absolute;
    z-index: 20;
    transition: all .3s ease;
}

.tool-tip::before {
    content: "";
    width: 12px;
    height: 12px;
    background-color: var(--secondary);
    position: absolute;
    display: block;
    top: -4px;
    margin: auto;
    rotate: 45deg;
    translate: -50%;
    left: 50%;
}