* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}

:root {
    --primary: tomato;
    --secondary: rgb(153, 149, 149);
    --tertiary: rgb(27, 27, 27);
    --tertiary-shade: rgb(43, 42, 42);
    --light: #fff;
    --lightgray: rgb(216, 216, 216);
}

body {
    background-color: aliceblue;
    overflow-x: hidden;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
}